* {
	margin: 0;
	padding: 0;
	font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

a:hover {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

body {
	min-height: 100vh;
}

.header {
	background-color: #0d69c2;
	display: flex;
	align-items: center;
	min-height: 15vh;
	color: #ece5df;
}
.header img {
	height: 120px;
	padding: 10px 20px;
}
#navbar {
}

#content {
	background-color: #ece5df;
	padding: 20px 40px;
	min-height: 80vh;
}
#content h3 {
	padding: 10px 0;
}

#footer {
	background-color: #0d69c2;
	color: white;
	text-align: center;
	min-height: 5vh;
}

.btn-primary {
	background-color: #0d69c2;
}

/* home */
.home {
	text-align: center;
}

/* branches */
#flex {
	display: flex;
}
